#root{
    min-height: 100vh;
    background-color: ghostwhite;
}

nav.navbar,
button.show-invoice{
    background: #334257!important;
}

nav .navbar a{
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-size: 1em;
}

span.navbar-text{
    font-size: 15px!important;
    margin-left: 25px;
}

.create-user{
    background-color: #1164FF!important;
}

.create-invoice{
    background: #402218!important;
}

.created-invoice{
    background: #334257!important;
}


.saved-pdf{
    background-color: #57837B!important;
}

.new-row{
    background-color: #466A6D!important;
}

.font-card-color{
    background-color: #54436B!important;
}

.delete-filter{
    background-color: #EF7822!important;
}

.delete-row{
    background-color: darkred!important;
}

.logo-text{
    font-size: 2em;
    display: inline-block;
}

.delete-icon{
    cursor: pointer;
    color: darkred;
}

.card a{
    font-size: 1.2em;
}

@media print {
    nav.navbar,
    ol.breadcrumb{
        display: none;
    }
}
