#root{
    min-height: 100vh;
    background-color: whitesmoke;
}


.firm-image{
    background-image: url("../public/sase.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 14vh;
}

nav.navbar,
button.show-invoice{
    background: #334257!important;
}

nav .navbar a{
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-size: 1em;
}

span.navbar-text{
    font-size: 15px!important;
    margin-left: 25px;
    position: relative;
    top: -5px;
}

.create-user{
    background-color: #1164FF!important;
}

.create-invoice{
    background: #402218!important;
}

.created-invoice{
    background: #334257!important;
}

.saved-pdf{
    background-color: #57837B!important;
}

.new-row{
    background-color: #466A6D!important;
}

.font-card-color{
    background-color: #54436B!important;
}

.delete-filter{
    background-color: #EF7822!important;
}

.modal-no{
    background: #313131!important;
}

.modal-yes{
    background: #E3604F!important;
}

.delete-row{
    background-color: darkred!important;
}

.logo-text{
    font-size: 2em;
    display: inline-block;
}

.delete-icon{
    cursor: pointer;
    color: darkred;
}

.card a,
.card h5{
    font-size: 1.4em;
}

.cards .card{
    min-height: 25vh;
}

.choose-color{
    background-color: #4B7891!important;
}

.last-file-added{
    background-color: #18202b!important;
}

.language-selector{
    position: absolute;
    left: 30px;
}

@media print {
    ol.breadcrumb{
        display: none;
    }
}
